* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #14213d;
    overflow: hidden;
}

.box {
    margin: 2rem;
    float: left;
    position: relative;
    height: 1rem;
    width: 1rem;
    background-color: #fca311;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    animation: rotateShape 5s linear infinite;
}
.box:nth-child(2n + 1) {
    clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
    );
    animation-direction: reverse;
}
.box:nth-child(3n + 1) {
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
.box:nth-child(4n + 1) {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation-direction: reverse;
}
@keyframes rotateShape {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
